.header {
    background-color: aquamarine;
    color: darkcyan;
    display: flex;
    justify-content: center;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
    margin: 20px 0px 0px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active {
    border: 1px solid darkcyan;
    padding: 10px;
    border-radius: 20px;
}

.headerDesc {
    margin: 20px 0px;
}

.headerBtn {
    background-color: white;
    color: darkcyan;
    font-weight: bolder;
    font-size: medium;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.headerSearch {
    height: 30px;
    margin-top: 7px;
    background-color: white;
    border: 3px solid darkcyan;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100%;
    max-width: 1024px;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput {
    border: none;
    outline: none;
}

.date {
    position: absolute;
    bottom: 70px;
    z-index: 2;
}

.options {
    position: absolute;
    bottom: 348px;
    border-radius: 5px;
    background-color: rgb(237, 237, 237);
    -webkit-box-shadow: 0px 0px 15px -5px rgba(204, 244, 96, 0.4);
    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.313);
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.optionCounter {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
}

.optionCounterButton {
    margin: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}

@media (max-width: 992px) {
    .header {
        width: 106%;
    }
    .headerList {
        display: flex;
        flex-wrap: wrap;
    }
    .headerSearch {
        display: flex;
        flex-wrap: wrap;
        width: 97vw;
        height: fit-content;
    }
    .headerSearchItem {
        margin-top: 3px;
    }
    .date {
        position: relative;
        top: 10em;
    }
    .options {
        position: relative;
        top: 1em;
    }
}