.mail {
    width: 100%;
    /* max-width: 1419px; */
    margin-top: 50px;
    background-color: #057373;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    align-items: center;
    gap: 20px;
    /* padding: 50px; */
}

.mailInputContainer>input {
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.mailInputContainer>button {
    height: 50px;
    background-color: #d1f8eb;
    color: #078a8a;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 992px) {
    .mail {
        width: 112%;
    }
    .mailInputContainer>input {
        width: 180px;
        height: 30px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}